In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

Задача 1
Даны значения величины заработной платы заемщиков банка (salary) и значения их поведенческого кредитного скоринга (scoring):
salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]
1)Найдите ковариацию этих двух величин: сначала без использования специальных функций, а затем с помощью функции numpy.cov. Полученные значения должны быть равны.
2)Найдите коэффициент корреляции Пирсона: с помощью ковариации и средних квадратических отклонений двух признаков, а затем с помощью специальных функций из библиотек numpy и pandas.

In [ ]:
salary  = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
df = pd.DataFrame(salary)
df['salary'] = pd.DataFrame(salary)
X = df['salary']

scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 83]
df = pd.DataFrame(scoring)
df['scoring'] = pd.DataFrame(scoring)
Y = df['scoring']


MX = X.mean()
MY = Y.mean()

#cov = ((X - MX) * (Y - MY)).mean()# с двумя этими формулами получается 8513.7
#cov = (X * Y).mean() - MX * MY

cov1 = ((X - MX) * (Y - MY)).sum() / (X.shape[0] - 1)
cov1

In [ ]:
9459.666666666668

In [ ]:
X.var()

In [ ]:
3882.9333333333334

In [ ]:
Y.var()

In [ ]:
69631.55555555556

In [ ]:
cov2 = np.cov(X, Y)
cov2

In [ ]:
array([[ 3882.93333333,  9459.66666667],
       [ 9459.66666667, 69631.55555556]])

2 пункт:

In [ ]:
corr = cov1 / (X.std() * Y.std())
corr

In [ ]:
0.575297938183201

In [ ]:
df['salary'] = pd.DataFrame(salary)
df['scoring'] = pd.DataFrame(scoring)

df[['salary', 'scoring']].corr()

          salary     scoring
salary 	1.000000 	0.575298
scoring 0.575298 	1.000000

In [ ]:
np.corrcoef(X, Y)

array([[1, 0.57529794],
       [0.57529794, 1]])

Задача 2
Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:
131, 125, 115, 122, 131, 115, 107, 99, 125, 111
Известно, что в генеральной совокупности IQ распределен нормально. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [ ]:
samples = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])

n = samples.shape[0]
m = samples.mean()
s = samples.std(ddof=1)
print(f'n = {n},среднее = {m}, оценка среднего квадратического отклонения  = {s}')

n = 10,среднее = 118.1, оценка среднего квадратического отклонения  = 10.54566788359614

y=0.95, k=n-1=9 по таблице Стьюдента находим ty

In [ ]:
t = 2.31

Доверительный интервал равен:

In [ ]:
(m - t * s / np.sqrt(n), m + t * s / np.sqrt(n))

In [ ]:
(110.39653577927436, 125.80346422072563)

Доверительный интервал:
107,26<a<128,94

Задача 3

Известно, что рост футболистов в сборной распределен нормально
с дисперсией генеральной совокупности, равной 25 кв.см. Объем выборки равен 27,
среднее выборочное составляет 174.2. Найдите доверительный интервал для математического
ожидания с надежностью 0.95.

In [ ]:
O^2=25 O=5, n = 27, m = 174.2; y=0.95
y=0.95, k=n-1=26

In [ ]:
По таблице стьюдента находим ty

In [ ]:
t=2.0555

In [ ]:
n = 27
m = 174.2
s = 5
print(m - t * s / np.sqrt(n), m + t * s / np.sqrt(n))

In [ ]:
172.2220942028012 176.17790579719878

In [ ]:
Доверительный интервал:
174.22<a<176.18